<div class="row text-center">
    <input 
    type="checkbox"
    [checked]="badPlay"
    (change)="alterarTipoJogada()"> Negativo!?

    <input 
    type="checkbox"
    [checked]="desfazer"
    (change)="alterarDesfazerModo()"> Desfazer!?
</div>

<br /> 

<div class="row text-center" *ngIf="!desfazer">
    <span *ngFor="let bola of bolas">
        <button
          type="button" 
          class="btn btn-default kz-btn" 
          (click)="jogar(jogador, bola.valor, badPlay)"  
          [class.alert-danger]="!bola.ativo" 
          [disabled]="!bola.ativo">{{bola.valor}}
        </button>
     </span>
     
</div>

<div class="row text-center" *ngIf="desfazer">
    <span *ngFor="let bola of bolas">
        <button
          type="button" 
          class="btn btn-default kz-btn" 
          (click)="desfazerJogada(jogador, bola.valor, badPlay)"  
          [class.alert-success]="!bola.ativo" 
          [disabled]="bola.ativo"
          >{{bola.valor}}
        </button>
     </span>
</div>


<!-- <br />

<div class="container">
  <div *ngFor="let bola of Jogadas" class="row" >
    {{bola.valor}}
  </div>
</div> -->
