
<div class="container">
  
  <div class="well">
        
        <div class="row justify-content-md-center text-center">
          <div class="col">
            <h2>Jogador: {{jogador.nome | uppercase }}</h2>
          </div>
          <div class="col">
            <h2>Pontos: {{jogador.pontos}}</h2>
          </div>
        </div>

        <br />
        
        <app-bolas
          [jogador]="jogador">
        </app-bolas>

        <br />

        <div class="container">
          <div class="form-group text-center">

            <div class="btn-group" role="group" aria-label="Basic example">

              <a [routerLink]="['/jogadores/shuffle']" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Voltar
              </a>

              <a (click)="zerar(jogador)" class="btn btn-danger">Zerar
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
              </a>

              <a (click)="proximoJogador()" class="btn btn-success">Próximo
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
              </a>

            </div>
        </div>
      </div>
      
  </div>
</div>


