 
  <h1>Ordem dos Jogadores</h1>

  <table class="table table-striped table-bordered table-hover">
    <tbody>
        <tr>
            <th>#</th>
            <th>Jogador</th>
            <th>Pontos</th>
            <th>Jogar</th>
        </tr>
        <tr *ngFor="let jogador of jogadores"  [class.danger] = "(jogador.pontos <= 0)">
            <td>
                {{jogador.id}}
            </td>
            <td>
                {{jogador.nome}}
            </td>
            <td>
                {{jogador.pontos}}
            </td>
            <td>
                <a 
                    [routerLink]="['/jogadores/jogar', jogador.id]"
                    title="Jogar" alt="Jogar"
                    class="btn btn-xs btn-info">
                    <span class="glyphicon glyphicon-play" 
                    aria-hidden="true"></span> 
                </a>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="jogadores.length==0">Nenhum Jogador cadastrado.</p>

<div class="form-group text-center">
        <a 
            (click)="voltar()"
            class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
            voltar
        </a>
</div>


